h2:hover {
    color: red;
}

.subtitle {
    color: green;
}

#about-me {
    color: blue;
}

/* li:first-child {
    color: steelblue;
}

li:last-child {
    background-color: aqua;
}

li:nth-child(2) {
    text-decoration: line-through;
}

li:only-child {
    color: red;
} */

/* #google-link:link {
    color: blue;
}

#google-link:visited {
    color: red;
} */

/* adjacent sibling selector */
/* selects an element[a] that directly follows a differnt element[h2] */
h2 + a {
    color: red;
}

/* general sibling combinator */
/* selects an element[a] that directly follows a differnt element[h2] but should have the same parent*/
textarea ~ button {
    color: pink;
}

/* child selector */
ul > li {
    color: purple;
}

/* descendant selector */
ul li {
    color: green;
}

/* atttribute selector */
/* tag[attr = value] {} */
ul [class = list-item] {
    text-decoration: line-through;
}